<h1 class="login-pg-text">Skeeters Baseball Club</h1>
<p class="text-center"><%= image_tag "skeeter_bw.png" %></p>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="login-form-box">
				<%= form_for(resource, :as => resource_name, html: {class: "form-inline-login"}, :url => session_path(resource_name)) do |f| %>
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">Email address</label>
						<%= f.email_field :email, :autofocus => true, class: "form-control input-lg", id: "dark-input", placeholder: "Enter email", autocomplete: "off" %>
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPassword2">Password</label>
						<%= f.password_field :password, class: "form-control input-lg", id: "dark-input", placeholder: "Password", autocomplete: "off" %>
					</div>
					<%= f.submit "Sign In", class: "btn-secondary btn-primary btn-lg-secondary", name: "set_user" %>
				
				<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
 					<p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
				<% end -%>
				<% end %>
	<%= link_to "Continue as guest", root_path, class: "btn-secondary btn-default btn-secondary", name: "save_as_guest", id: "set_user" %></p>
			</div>
		</div>
	</div>
</div>