<div class="header-container">
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--<a class="navbar-brand" href="#">Skeeters Baseball Club</a>-->
    <%= link_to "Skeeters Baseball Club", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
      <li><%= link_to "Team Info", info_path %></li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% if @header_team_list.present? %>
          <% for team in @header_team_list %>
          <li><%= link_to team.name, team %></li>
          <% end %>
          <% end %>
        </ul>
      </li>
      <% end %>
      <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>-->
    </ul>
    <!--
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  	-->
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <%= "#{current_user.first_name} #{current_user.last_name}" %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% if @header_team_list.present? %>
          <% for team in @header_team_list %>
          <li><%= link_to team.name, team %></li>
          <% end %>
          <% end %>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
      <% else %>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Member Login <b class="caret"></b></a>
        <ul class="dropdown-menu">
        	<div class="home-login-container">
        		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div class="form-group">
                <label class="sr-only">Email</label>
                <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", autocomplete: :off, id: "dark-input" %>
              </div>
              <div class="form-group">
                <label class="sr-only">Password</label>
                <%= f.password_field :password, placeholder: "Password", class: "form-control", autocomplete: :off, id: "dark-input" %>
              </div>
              
              <div class="form-group">
              <%= f.submit "Sign in", class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
        	</div>
        </ul>
      </li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>