<div class="signup-form-container">
	<div class="sign-up-top">
    <h3>Sign in to your Bogofy account.<a class="close" href="/">&times;</a></h3>
    <p>Don't have an account? <%= link_to "Sign up for FREE!", new_account_path, class: "green-link" %></p>
  </div>
  <div class="sign-up-bottom">
  	<%= form_tag "/auth/identity/callback", class: "form-horizontal", autocomplete: "off" do %>
      <% if @identity && @identity.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
        <ul>
          <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <%= text_field_tag :auth_key %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Password</label>
        <div class="controls">
          <%= text_field_tag :password %>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          
          <div class="signin-submit">
            <%= submit_tag "Sign In", class: "note-green-btn" %>
            <span class="or">or</span>
            <%= link_to "Sign in with Facebook", "/auth/facebook", class: "signin-fb-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>