<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="dashboard-header">
				<%= render 'partials/admin_dashboard_header' %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-wrap">
				<div class="row">
					<div class="col-md-11">
						<h1 class="dashboard-team-name"><%= @team.name %></h1>
					</div>
					<div class="col-md-1">
					</div>
					<ul id="myTabs" class="nav nav-tabs">
  					<li class="active"><a href="#team-news" data-toggle="tab">Team News</a></li>
  					<li><a href="#schedule" data-toggle="tab">Schedule</a></li>
  					<li><a href="#roster" data-toggle="tab">Roster</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="team-news">
							<%= render "team_news" %>
						</div>
						<div class="tab-pane" id="schedule">
							<%= render "schedule" %>
						</div>
						<div class="tab-pane" id="roster">
							<%= render "roster" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




