

<div class="alt-pg-container">
  <% if user_signed_in? %>
  <%= render "pages/header_logged_in" %>
  <% else %>
  <%= render "pages/header_logged_out" %>
  <% end %>

  <div class="container-narrow">
    <div class="blog-container-title">
      <h1>Bogo<span class="white">fy</span> Blog</h1>
    </div>
    <div class="blog-container-main">
      <div class="row-fluid">
        <div class="span8">
          <% for post in @posts %>
          <div class="post-container">
            <h3 class="post-title"><%= link_to post.title, post, class: "green-link" %></h3>
            <p class="post-detail">Posted by <%= link_to post.blog.name, post.blog %> on <%= post.created_at.strftime("%b %-d, %Y") %> in 

              <%= post.categories.collect { |cat| (link_to cat.name, { action: "category", controller: "posts", id: cat.id }) }.join(", ").html_safe %>

            </p>
              

            <div class="text-box">
              <%= sanitize truncate(post.body, length: 250, separator: " ") %>
              <% if post.body.length > 250 %>
              <p class="continue"><%= link_to(raw('Continue Reading <i class="icon-arrow-right"></i>'), post, class: "btn-continue") %></p>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="span4">

          <div class="search-container">
            <%= form_tag posts_path, method: "get" do %>
              <div class="input-append">
                <%= text_field_tag :search, params[:search], class: "span10", placeholder: "Search..." %>
                <button type="submit" class="btn"><i class="icon-search"></i></button>       
              </div>
            <% end %> 
          </div>
          <div class="sidebar-container">
            <h4>Recent Posts</h4>
            <ul>
            <% for post in @recent_posts %>
              <li><%= link_to post.title, post, class: "green-link" %></li>
            <% end %>
            <ul>
          </div>
          <div class="sidebar-container">
            <h4>Categories</h4>
            <ul>
              <% @all_categories.each do |cat| %>
                <li><%= link_to(cat.name, { action: "category", controller: "posts", id: cat.id }, class: "green-link") %></li>
              <% end %>   
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>